.delete-dialog {
  width: 250px;
}
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .2s;
  button {
    &:hover {
      color: #e4b485;
      transition: all .2s;
    }
  }
}
